{% extends 'index.html' %}
{% load static %}
{% block titulo %} Login {% endblock titulo %}
{% block banner %} LOGIN {% endblock banner %}
{% block subbanner %}{% endblock subbanner %}
{% block cuerpo %}

<body>
	<div class="blog" id="blog">
		<div class="container">
			<div class="default-heading">
				<h2>
                    <form action="{% url 'Appblog:login' %}" method="POST">{% csrf_token %}
                        <table>
                            {{ formulario.as_table }}
                        </table>
                        <button type="submit"> INICIAR SESION </button>
                    </form>
                    

                </h2>
			</div>
		</div>
	</div>
	<h2>{{ mensaje }}</h2>
</body>

{% endblock cuerpo %}	